{% extends 'base.html.twig' %}

{% block title %}EBTB - New Genre{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/content.css">
{% endblock %}

{% block body %}
    <div class="content">
        <h3><span>CREATE NEW GENRE</span></h3>

        <div class="genre-crud">
            <a href="{{ path('genre_index') }}" class="btn-right"><<< Discard changes</a>

            <div class="partial-template">
                {{ include('genre/_form.html.twig') }}
            </div>
            <!--partial template-->
        </div>
        <!--genre crud-->
    </div>
    <!--genre content-->
{% endblock %}
