# symfony/framework-bundle
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/

# symfony/web-server-bundle
/.web-server-pid

# phpStorm cache file
.idea

# folder view configuration files
.DS_Store
Desktop.ini

# thumbnail cache files
._*
Thumbs.db

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
