/* ----default---- */
body, .btn {
    font-size: 16px;
}

.header {
    padding-top: 20px;
}

.text-justify {
    text-align: justify;
}

.content h3 {
    font-size: 22px;
    padding-top: 60px;
    width: 100%;
    text-align: center;
    border-bottom: 5px dotted #DCDCDC;
    line-height:0.1em;
    margin: 10px 0 20px;
}

.content h3 span {
    background: #FFFFFF;
    padding: 0 40px;
}

.content p {
    padding: 20px;
    text-align: justify;
}

/* ----about---- */
#about-location {
    padding: 30px;
    text-align: center;
}

/* ----genre & book & user & bid & auction crud---- */
table, .text-center {
    text-align: center;
}

.genre-crud, .book-crud, .user-crud, .bid-crud, .auction-crud {
    padding: 20px;
}

.btn-right {
    margin: 10px 0 40px 20px;
    float: right;
}

.btn-left {
    margin: 10px 0 40px 0;
    float: left;
}

.partial-template {
    padding-top: 60px;
}

.card-text {
    font-size: 40px;
    color: #F08080;
    padding: 0;
    margin: 0;
}

.bids-container, .auction-container {
    padding: 80px;
}

.bids-container table {
    margin-top: 40px;
}

.auction-container table {
    margin-top: 80px;
}

.auction-action {
    padding: 10px;
}

.text-center {
    text-align: center;
}

/* ----login form---- */
.login-form {
    padding: 80px;
}

/* ----comment crud---- */
.comment-crud {
    padding: 50px;
}

.comment-buyer {
    border: 1px solid #FFFACD;
    background-color: #FFFACD;
    padding: 20px;
    border-radius: 8px;
    margin: 30px;
}

.comment-seller {
    border: 1px solid #FFEFD5;
    background-color: #FFEFD5;
    padding: 20px;
    border-radius: 8px;
    margin: 30px;
}

.seller-left {
    margin: 25px 10px 0 10px;
}

.media .avatar {
    width: 70px;
}



