.header {
    padding-top: 20px;
}

.content h3 {
    padding-top: 60px;
    width: 100%;
    text-align: center;
    border-bottom: 5px dotted #DCDCDC;
    line-height:0.1em;
    margin: 10px 0 20px;
}

.content h3 span {
    background: #FFFFFF;
    padding: 0 40px;
}

.content p {
    padding: 30px;
    text-align: justify;
}

#about-location {
    padding: 30px;
    text-align: center;
}

