.nav-button {
    margin-right: 10px;
}

#navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DCDCDC;
}

#navbar-logo {
    height: 70%;
    width: 70%;
    padding-left: 20px;
}

.nav-item {
    padding: 0 20px 0 20px;
    font-size: 16px;
}

#navbar-active {
    color: #FFA500;
}

#cart-button, #auction-button, #user-button {
    padding: 2px 15px 0 30px;
}

#cart-text, #auction-text, #user-text {
    position: relative;
    left: 5px;
    bottom: 3px;
}

.material-icons {
    width: 5px;
    height: 1px;
    position: relative;
    left: -20px;
    top: 3px;
}
