{% extends 'base.html.twig' %}

{% block title %}EBTB - About Us{% endblock %}

{% block about %}navbar-active{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/content.css">
{% endblock %}

{% block body %}
    <div class="header">
        <a href="{{ path('about') }}"><img src="/images/banner_about.png" class="img-fluid" alt="about page"></a>
    </div>
    <!--header-->

    <div class="content">
        <h3><span>OUR STORY</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc libero, porttitor eget accumsan at, convallis id orci. Maecenas tristique nisi in rhoncus gravida. Aliquam erat volutpat. Integer rhoncus massa quis aliquam tristique. Nunc eget orci consequat, gravida orci malesuada, consectetur dui. Donec metus nisi, euismod non arcu at, molestie pretium metus. Nam mattis sed nunc id ornare. Pellentesque pharetra ac massa in bibendum. Duis in erat cursus, vehicula orci ac, ullamcorper lacus. Donec pharetra mauris et nisl cursus mattis. Nam vulputate ultricies elit vel condimentum. Vestibulum orci urna, pellentesque vitae mauris sed, sagittis tristique urna. Phasellus gravida vulputate diam nec aliquet. Nunc ac consectetur odio.</p>
        <!--our story-->

        <h3><span>MISSION STATEMENT</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc libero, porttitor eget accumsan at, convallis id orci. Maecenas tristique nisi in rhoncus gravida. Aliquam erat volutpat. Integer rhoncus massa quis aliquam tristique. Nunc eget orci consequat, gravida orci malesuada, consectetur dui. Donec metus nisi, euismod non arcu at, molestie pretium metus. Nam mattis sed nunc id ornare. Pellentesque pharetra ac massa in bibendum. Duis in erat cursus, vehicula orci ac, ullamcorper lacus. Donec pharetra mauris et nisl cursus mattis. Nam vulputate ultricies elit vel condimentum. Vestibulum orci urna, pellentesque vitae mauris sed, sagittis tristique urna. Phasellus gravida vulputate diam nec aliquet. Nunc ac consectetur odio.</p>
        <!--mission statement-->

        <h3><span>HEADQUARTER</span></h3>
        <p id="about-location">Find us at: <a href="https://www.google.ie/maps/place/Institute+of+Technology+Blanchardstown/@53.4047486,-6.3802514,17z/data=!3m1!4b1!4m5!3m4!1s0x486712badd7cd6b1:0x9817ed5716c08592!8m2!3d53.4047486!4d-6.3780627" target="_blank">address</a></p>
        <!--headquarter-->
    </div>
    <!--content-->
{% endblock %}
