{% extends 'base.html.twig' %}

{% block title %}Everything But The Book{% endblock %}

{% block home %}navbar-active{% endblock %}

{% block body %}
    <div class="header">
        <a href="{{ path('homepage') }}"><img src="/images/banner_home.png" class="banner-img img-fluid" alt="homepage"></a>
    </div>
    <!--header-->
{% endblock %}
