{% extends 'base.html.twig' %}

{% block title %}Everything But The Book{% endblock %}

{% block home %}navbar-active{% endblock %}

{% block body %}
    <div class="header">
        <a href="{{ path('homepage') }}"><img src="/images/banner_home.png" class="banner-img img-fluid" alt="homepage"></a>
    </div>
    <!--header-->

    <div class="content">
        <h3><span>THE BOOKISH LIFE</span></h3>

        <div class="container-fluid">
            <div class="d-flex flex-row flex-wrap justify-content-center">
                <div class="d-flex flex-column">
                    <img src="https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class="img-fluid">
                    <img src="https://images.unsplash.com/photo-1512903491135-76ec8a4510b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" class="img-fluid">
                    <img src="https://images.unsplash.com/photo-1516207562423-ae3965d90896?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" style="height: 338px;" class="img-fluid">
                </div>

                <div class="d-flex flex-column">
                    <img src="https://images.unsplash.com/photo-1508107506371-193d6e71444c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="img-fluid">
                    <img src="https://images.unsplash.com/photo-1535058314881-56b6eb96bd69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=331&q=80" class="img-fluid scale">
                    <img src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" style="height: 268px;" class="img-fluid scale mb-3">
                </div>

                <div class="d-flex flex-column">
                    <img src="https://images.unsplash.com/photo-1506962240359-bd03fbba0e3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="img-fluid">
                    <img src="https://images.unsplash.com/photo-1496104679561-38d3af73f9b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" style="height: 325px;" class="img-fluid scale mb-3">
                    <img src="https://images.unsplash.com/photo-1513001900722-370f803f498d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" style="height: 325px;" class="img-fluid scale mb-1">
                </div>

                <div class="d-flex flex-column">
                    <img src="https://images.unsplash.com/photo-1529590003495-b2646e2718bf?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="img-fluid m-1">
                    <img src="https://images.unsplash.com/photo-1476275466078-4007374efbbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" class="img-fluid m-1 p-1">
                    <img src="https://images.unsplash.com/photo-1476081718509-d5d0b661a376?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" style="height: 345px;" class="img-fluid m-1 p-1">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
