{% extends 'base.html.twig' %}

{% block title %}EBTB - Sitemap{% endblock %}

{% block sitemap %}navbar-active{% endblock %}

{% block body %}
   <div class="header">
      <a href="{{ path('sitemap') }}"><img src="/images/banner_sitemap.png" class="banner-img img-fluid" alt="sitemap page"></a>
   </div>
   <!--header-->

   <div class="content">
      <h3><span>DIAGRAM</span></h3>

      <center><img src="/images/sitemap.png" id="sitemap-img" class="d-inline-block align-top" alt="sitemap"></center>
   </div>
{% endblock %}
