<form method="post" action="{{ path('bid_delete', {'id': bid.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bid.id) }}">
    <button class="btn btn-lg px-3 btn-primary btn-outline-dark btn-right btn-sm btn-margin">Delete</button>
</form>
